<!DOCTYPE html>
<html>
    <ad>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <title>Inicio de sesión</title>
    </head>

    <div class="login-page">
        <div class="form">
            <form class="login-form" method="post" action="/">
                <h1 align="center">DOMO2D2</h1>
                <input type="text" placeholder="usuario" name="username" required/>
                <input type="password" placeholder="contraseña" name="password" required/>
                <button>entrar</button>
            </form>
        </div>
    </div>
</html>
